altair==4.2.0
autoviz==0.1.38
Boruta==0.3
imbalanced-learn==0.7.0
importlib-metadata==4.11.3
importlib-resources==5.4.0
numpy
pandas==1.2.4
plot-metric==0.0.6
plotly==5.6.0
pycaret==2.3.6
scikit-learn
scikit-plot==0.3.7
scipy